{% extends 'base.html' %}

{% block upper_js %}
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="flex-row d-flex flex-wrap justify-content-center mt-5 ms-1 me-1">
        <div class="col-md-5 col-sm-12 ms-1 me-1 text-decoration-none text-dark">
            <canvas id="myChart" width="100" height="100"></canvas>
        </div>
        <div class="col-md-4 col-sm-12 ms-1 me-1 text-decoration-none text-dark">
            <h3 class="text-center"> Текущие игры </h3>
            {% csrf_token %}
            <p class="text-center">Пусто</p>



        </div>
     </div>
</div>
<script>

var tracked_list;

function get_tracked_list() {
    var csrf_token_value = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/get_tracked/', false);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onreadystatechange = function() {
            if (xhr.status === 200) {
                //console.log(xhr.responseText);
            }
            else {
                console.log('Request failed.  Returned status of ' + xhr.status);
                if (JSON.parse(xhr.responseText).status == "error") {
                    console.log("Произошла ошибка при попытке получить список отслеживаемых пользователей.");
                    throw 'Произошла ошибка при попытке получить список отслеживаемых пользователей.';
                }
            }
    };
    xhr.send(encodeURI('csrfmiddlewaretoken='+csrf_token_value));
    return JSON.parse((xhr.response))["users"];
}
tracked_list = get_tracked_list();
console.log(tracked_list);

var ctx = document.getElementById('myChart');
var chart = new Chart(ctx, {
    type: 'bar',
    data: {},
    options: {
        scales: {
            y: {
                beginAtZero: true,
            }
        }
    }
});
/* var myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: ['Игрок 1', 'Игрок 2', 'Игрок 3', 'Игрок 4'],
        datasets: [{
            label: 'Количество часов в CS:GO',
            data: [403, 102, 484, 9],
            backgroundColor: [
                'rgba(255, 99, 132, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(255, 206, 86, 0.6)',
                'rgba(128, 206, 86, 0.6)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(128, 206, 86, 1)',
            ],
            borderWidth: 2
        },
        {
            label: 'Количество часов в Dota',
            data: [33, 238, 48, 805],
            backgroundColor: [
                'rgba(255, 99, 132, 0)',
                'rgba(54, 162, 235, 0)',
                'rgba(255, 206, 86, 0)',
                'rgba(255, 206, 86, 0)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(128, 206, 86, 1)',
            ],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
            }
        }
    }
}); */
</script>
{% endblock %}